/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

:root {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    --grey: #e5e5e5;
    --red: #ff7070;
    --green: #70ff70;
    font-size: 40px;
}

body {
    position: relative;
    line-height: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

header {
    display: grid;
    grid-template: 1fr 4fr 1fr 4fr / 1fr;
    background-color: white;
    padding: 30px;
    color: black;
    font-size: .4rem;
    border-right: 1px solid black;
}

header > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

h1, h2 {
    font-weight: bolder;
    border-bottom: 2px solid var(--grey);
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: .6rem;
}

.features, .stats {
    border-bottom: 2px solid var(--grey);
}

.features {
    gap: 10%;
}

button {
    height: 50px;
    width: 120px;
    background-color: var(--grey);
    border: 3px solid var(--grey);
    border-radius: 20px;
    font-size: .4rem;
    border: 1px solid black;
}

button:hover {
    filter: brightness(85%);
}

main {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 50px;
    padding: 50px;
    overflow: auto;
}

.book {
    height: 360px;
    width: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    gap: 30px;
    padding: 30px;
    border-radius: 10%;
    font-size: .6rem;
    overflow-x: scroll;
    text-align: center;
}

.main-button {
    width: 100%;
    letter-spacing: 1px;
}

#read-status {
    margin-top: auto;
}

#read-status, #add-book, form button {
    background-color: var(--green);
}

#remove {
    background-color: var(--red);
}

form {
    position: absolute;
    background-color: white;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10%;
}

#overlay {
        position: fixed;
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
}

.input-active {
    display: block;
}

.input-inactive {
    display: none;
}

input[type="text"], input[type="number"] {
    width: 80%;
    height: 30px;
    font-size: .5rem;
    color: black;
}

label[for="is-read"] {
    font-size: .5rem;
}

.read-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    outline: 1px solid black;
    border: 0px;
}

::placeholder {
    color: black;
}